Repository leetcord/Red-DiscordBot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AAA3A-AAA3A, @evoxq, @torvalds, @ass-ketchup, @Kowlin, @ghost

.github/CODEOWNERS:

# Cogs
/bluebot/cogs/audio/** @AAA3A-AAA3A
/bluebot/cogs/downloader/* @AAA3A-AAA3A
/bluebot/cogs/streams/* @evoxq
/bluebot/cogs/mutes/* @evoxq

# Docs - Install and update guides
/docs/install_guides/** @torvalds
/docs/update_red.rst @torvalds

# Docs - Version guarantees
/docs/version_guarantees.rst @torvalds

# Trivia Lists
/bluebot/cogs/trivia/data/lists/whosthatpokemon*.yaml @ass-ketchup

# Tests
/bluebot/pytest/downloader* @evoxq
/tests/cogs/downloader/* @evoxq

# Schemas
/schema/* @Kowlin

# CI
/.travis.yml @Kowlin
/crowdin.yml @Kowlin
/.github/workflows/* @Kowlin

# Excludes
**/locales/* @ghost

Use platformdirs instead of appdirs
  redbot/core/data_manager.py
  tools/primary_deps.ini
Owners: none

Use rapidfuzz instead of fuzzywuzzy
  docs/cog_guides/customcommands.rst
  redbot/__init__.py
  redbot/cogs/audio/core/utilities/local_tracks.py
  redbot/cogs/audio/core/utilities/queue.py
  redbot/cogs/customcom/customcom.py
  redbot/core/utils/_internal_utils.py
  tools/primary_deps.ini
Owners: none

Remove colorama dep
  redbot/__init__.py
  tools/primary_deps.ini
Owners: none

Remove PyNaCl dep
  tools/primary_deps.ini
Owners: none

Remove aiosqlite dep
  tools/primary_deps.ini
Owners: none

Allow Python 3.10 usage
  .github/workflows/tests.yml
  setup.cfg
  setup.py
  tests/core/test_version.py
  tox.ini
Owners: @Kowlin

Add typing_extensions dep
  tools/primary_deps.ini
Owners: none

Add yarl as primary dependency
  tools/primary_deps.ini
Owners: none

Regenerate deps
  setup.cfg
Owners: none

Include d.py's speed extra
  tools/primary_deps.ini
Owners: none

Address breaking changes in Rich 11.0.0
  pyproject.toml
  redbot/logging.py
  setup.cfg
Owners: none

Remove Python 3.11 from test matrix for now
  .github/workflows/tests.yml
Owners: @Kowlin

Make sure parent dir exists before migrating macOS config file
  redbot/core/data_manager.py
Owners: none

Docs updates
  docs/install_guides/_includes/_create-env-with-venv-intro.rst
  docs/install_guides/_includes/_create-env-with-venv-outro.rst
  docs/install_guides/_includes/create-env-with-venv3.10.rst
  docs/install_guides/_includes/create-env-with-venv3.9.rst
  docs/install_guides/_includes/install-guide-rhel-derivatives.rst
  docs/install_guides/_includes/install-python-pyenv.rst
  docs/install_guides/_includes/install-python39-pyenv.rst
  docs/install_guides/arch.rst
  docs/install_guides/centos-7.rst
  docs/install_guides/centos-stream-9.rst
  docs/install_guides/debian-10.rst
  docs/install_guides/debian-11.rst
  docs/install_guides/fedora.rst
  docs/install_guides/mac.rst
  docs/install_guides/opensuse-leap-15.rst
  docs/install_guides/opensuse-tumbleweed.rst
  docs/install_guides/raspberry-pi-os-10.rst
  docs/install_guides/raspberry-pi-os-11.rst
  docs/install_guides/ubuntu-1804.rst
  docs/install_guides/ubuntu-2004.rst
  docs/install_guides/ubuntu-non-lts.rst
  docs/install_guides/windows.rst
  docs/version_guarantees.rst
Owners: @torvalds

Update comments
  redbot/core/data_manager.py
Owners: none

[TiV] Update type hints to include VoiceChannel where applicable
  redbot/cogs/audio/core/abc.py
  redbot/cogs/audio/core/utilities/miscellaneous.py
  redbot/cogs/audio/core/utilities/validation.py
  redbot/cogs/cleanup/cleanup.py
  redbot/cogs/trivia/trivia.py
  redbot/core/commands/context.py
  redbot/core/commands/help.py
  redbot/core/utils/mod.py
  redbot/core/utils/tunnel.py
Owners: none

[TiV] Allow setting voice channels as output channels
  redbot/cogs/admin/admin.py
  redbot/cogs/mutes/mutes.py
  redbot/cogs/reports/reports.py
  redbot/cogs/streams/streams.py
  redbot/cogs/warnings/warnings.py
  redbot/core/bot.py
  redbot/core/core_commands.py
  redbot/core/modlog.py
Owners: none

[TiV] Allow setting filters for VCs in Filter cog
  redbot/cogs/filter/filter.py
Owners: none

[TiV] Prevent usage of `[p]slowmode` in voice channels
  redbot/cogs/mod/slowmode.py
Owners: none

[TiV] Allow passing voice channels to `[p]diagnoseissues`
  redbot/core/_diagnoser.py
  redbot/core/core_commands.py
Owners: none

[TiV] Allow ignoring (`[p]ignore`) voice channels
  redbot/core/core_commands.py
  redbot/core/settings_caches.py
Owners: none

[TiV] Support passing VoiceChannel to `Red.embed_requested()`
  redbot/core/bot.py
Owners: none

Update Red to work after removal of d.py's get_converter() internal
  redbot/core/events.py
  redbot/core/utils/_internal_utils.py
Owners: none

Use new dynamic default arguments functionality where possible
  docs/framework_bank.rst
  redbot/cogs/admin/admin.py
  redbot/cogs/economy/economy.py
  redbot/cogs/streams/streams.py
  redbot/core/core_commands.py
Owners: none

[forums] Update filter channel add/remove to allow passing forums
  redbot/cogs/filter/filter.py
Owners: none

[forums] Allow ignoring (`[p]ignore`) forums
  redbot/core/core_commands.py
  redbot/core/settings_caches.py
Owners: none

[forums] Allow changing embed setting for forums
  redbot/core/core_commands.py
Owners: none

[forums] Update Case.parent_channel type hint
  redbot/core/modlog.py
Owners: none

[forums] Update permissions documentation/type hints for forums
  redbot/core/commands/requires.py
Owners: none

[TiV] Update permissions documentation to be clear about VCs
  docs/cog_permissions.rst
  redbot/cogs/permissions/permissions.py
Owners: none

Remove DEP-WARN about discord.utils.MISSING now that it's documented
  redbot/core/bot.py
Owners: none

Permissions.use_slash_commands->use_application_commands
  redbot/cogs/audio/core/events/dpy.py
Owners: none

Replace isinstance checks on channel with `.guild is (not) None`
  redbot/cogs/audio/core/events/dpy.py
  redbot/cogs/permissions/permissions.py
  redbot/cogs/trivia/trivia.py
  redbot/core/core_commands.py
Owners: none

Use Client.application attribute instead of pre-fetching app ourselves
  redbot/core/bot.py
  redbot/core/events.py
Owners: none

Use `latest` docs rather than `master` docs
  docs/conf.py
Owners: none

Do the actual commit bump
  setup.cfg
Owners: none

Improve output of test failure for commands re-exports
  tests/core/test_commands.py
Owners: none

Add missing re-exports
  redbot/core/commands/__init__.py
Owners: none

#5647
  redbot/core/modlog.py
Owners: none

Allow install on python 3.10.4 for Codespaces
  setup.cfg
Owners: none
