Repository leetcord/Red-DiscordBot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AAA3A-AAA3A, @evoxq, @torvalds, @ass-ketchup, @Kowlin, @ghost

Use rapidfuzz instead of fuzzywuzzy
  docs/cog_guides/customcommands.rst
  redbot/__init__.py
  redbot/cogs/audio/core/utilities/local_tracks.py
  redbot/cogs/audio/core/utilities/queue.py
  redbot/cogs/customcom/customcom.py
  redbot/core/utils/_internal_utils.py
  tools/primary_deps.ini
Owners: none

Remove aiosqlite dep
  tools/primary_deps.ini
Owners: none

Remove PyNaCl dep
  tools/primary_deps.ini
Owners: none

Use platformdirs instead of appdirs
  redbot/core/data_manager.py
  tools/primary_deps.ini
Owners: none

Add typing_extensions dep
  tools/primary_deps.ini
Owners: none

Add yarl as primary dependency
  tools/primary_deps.ini
Owners: none

Remove colorama dep
  redbot/__init__.py
  tools/primary_deps.ini
Owners: none

Include d.py's speed extra
  tools/primary_deps.ini
Owners: none

Allow Python 3.10 usage
  .github/workflows/tests.yml
  setup.cfg
  setup.py
  tests/core/test_version.py
  tox.ini
Owners: @Kowlin

Address breaking changes in Rich 11.0.0
  pyproject.toml
  redbot/logging.py
  setup.cfg
Owners: none

Regenerate deps
  setup.cfg
Owners: none

Remove Python 3.11 from test matrix for now
  .github/workflows/tests.yml
Owners: @Kowlin

Update comments
  redbot/core/data_manager.py
Owners: none

Make sure parent dir exists before migrating macOS config file
  redbot/core/data_manager.py
Owners: none

Docs updates
  docs/install_guides/_includes/_create-env-with-venv-intro.rst
  docs/install_guides/_includes/_create-env-with-venv-outro.rst
  docs/install_guides/_includes/create-env-with-venv3.10.rst
  docs/install_guides/_includes/create-env-with-venv3.9.rst
  docs/install_guides/_includes/install-guide-rhel8-derivatives.rst
  docs/install_guides/_includes/install-guide-rhel9-derivatives.rst
  docs/install_guides/_includes/install-python-pyenv.rst
  docs/install_guides/_includes/install-python39-pyenv.rst
  docs/install_guides/arch.rst
  docs/install_guides/centos-7.rst
  docs/install_guides/debian-10.rst
  docs/install_guides/debian-11.rst
  docs/install_guides/fedora.rst
  docs/install_guides/mac.rst
  docs/install_guides/opensuse-leap-15.rst
  docs/install_guides/opensuse-tumbleweed.rst
  docs/install_guides/raspberry-pi-os-10.rst
  docs/install_guides/raspberry-pi-os-11.rst
  docs/install_guides/ubuntu-1804.rst
  docs/install_guides/ubuntu-2004.rst
  docs/install_guides/ubuntu-2204.rst
  docs/install_guides/ubuntu-non-lts.rst
  docs/install_guides/windows.rst
Owners: @torvalds

Add `sudo apt update` back to Ubuntu instructions
  docs/install_guides/ubuntu-2004.rst
  docs/install_guides/ubuntu-non-lts.rst
Owners: @torvalds

Bump rapidfuzz and jarowinkler
  setup.cfg
Owners: none

Add cmake build req to RPi OS 10 due to rapidfuzz
  docs/install_guides/raspberry-pi-os-10.rst
Owners: @torvalds

Bump rapidfuzz and jarowinkler
  setup.cfg
Owners: none

Add cmake build req to RPi OS 10 due to rapidfuzz
  docs/install_guides/raspberry-pi-os-10.rst
Owners: @torvalds

Bump discord.py to 1aaa32d
  setup.cfg
Owners: none

Add warning to README about this branch
  README.md
Owners: none

bump dpy2 requirement to dc50736
  requirements/base.in
  requirements/base.txt
Owners: none

drop get_converter
  redbot/core/utils/_internal_utils.py
Owners: none

Basic pip-compile setup
  .github/workflows/run_pip_compile.yaml
  .github/workflows/scripts/compile_requirements.py
  .github/workflows/scripts/merge_requirements.py
  requirements/base.in
  requirements/extra-docs.in
  requirements/extra-postgres.in
  requirements/extra-style.in
  requirements/extra-test.in
Owners: @Kowlin

Include comments in merged requirements files
  .github/workflows/scripts/merge_requirements.py
Owners: none

Replace build system to use requirements from the requirements folder
  MANIFEST.in
  setup.cfg
  setup.py
  tools/bumpdeps.py
  tools/primary_deps.ini
Owners: none

Transform existing dependencies into requirements files
  requirements/base.txt
  requirements/extra-docs.txt
  requirements/extra-postgres.txt
  requirements/extra-style.txt
  requirements/extra-test.txt
Owners: none

Use rapidfuzz instead of fuzzywuzzy
  docs/cog_guides/customcommands.rst
  redbot/__init__.py
  redbot/cogs/audio/core/utilities/local_tracks.py
  redbot/cogs/audio/core/utilities/queue.py
  redbot/cogs/customcom/customcom.py
  redbot/core/utils/_internal_utils.py
  requirements/base.in
Owners: none

Use platformdirs instead of appdirs
  redbot/core/data_manager.py
  requirements/base.in
Owners: none

Remove aiosqlite dep
  requirements/base.in
Owners: none

Remove colorama dep
  redbot/__init__.py
  requirements/base.in
Owners: none

Remove PyNaCl dep
  requirements/base.in
Owners: none

Add yarl as primary dependency
  requirements/base.in
Owners: none

Add typing_extensions dep
  requirements/base.in
Owners: none

Add part of aiohttp/d.py's speedup extra and switch to apsw
  requirements/base.in
Owners: none

Regenerate deps
  requirements/base.txt
  requirements/extra-docs.txt
  requirements/extra-postgres.txt
  requirements/extra-style.txt
  requirements/extra-test.txt
Owners: none

Update Black's required-version
  pyproject.toml
Owners: none

Allow Python 3.10 usage
  .github/workflows/tests.yml
  setup.cfg
  setup.py
  tests/core/test_version.py
  tox.ini
Owners: @Kowlin

Address breaking changes in Rich 11.0.0
  redbot/logging.py
Owners: none

.github/CODEOWNERS:

# Cogs
/bluebot/cogs/audio/** @AAA3A-AAA3A
/bluebot/cogs/downloader/* @AAA3A-AAA3A
/bluebot/cogs/streams/* @evoxq
/bluebot/cogs/mutes/* @evoxq

# Docs - Install and update guides
/docs/install_guides/** @torvalds
/docs/update_red.rst @torvalds

# Docs - Version guarantees
/docs/version_guarantees.rst @torvalds

# Trivia Lists
/bluebot/cogs/trivia/data/lists/whosthatpokemon*.yaml @ass-ketchup

# Tests
/bluebot/pytest/downloader* @evoxq
/tests/cogs/downloader/* @evoxq

# Schemas
/schema/* @Kowlin

# CI
/.travis.yml @Kowlin
/crowdin.yml @Kowlin
/.github/workflows/* @Kowlin

# Excludes
**/locales/* @ghost
