Repository leetcord/Red-DiscordBot, changes with the owners that .github/CODEOWNERS names for each.
All owners: @AAA3A-AAA3A, @evoxq, @torvalds, @ass-ketchup, @Kowlin, @ghost

Make sure parent dir exists before migrating macOS config file
  redbot/core/data_manager.py
Owners: none

Update comments
  redbot/core/data_manager.py
Owners: none

Docs updates
  docs/install_guides/_includes/_create-env-with-venv-intro.rst
  docs/install_guides/_includes/_create-env-with-venv-outro.rst
  docs/install_guides/_includes/create-env-with-venv3.10.rst
  docs/install_guides/_includes/create-env-with-venv3.9.rst
  docs/install_guides/_includes/install-guide-rhel8-derivatives.rst
  docs/install_guides/_includes/install-guide-rhel9-derivatives.rst
  docs/install_guides/_includes/install-python-pyenv.rst
  docs/install_guides/_includes/install-python39-pyenv.rst
  docs/install_guides/arch.rst
  docs/install_guides/centos-7.rst
  docs/install_guides/debian-10.rst
  docs/install_guides/debian-11.rst
  docs/install_guides/fedora.rst
  docs/install_guides/mac.rst
  docs/install_guides/opensuse-leap-15.rst
  docs/install_guides/opensuse-tumbleweed.rst
  docs/install_guides/raspberry-pi-os-10.rst
  docs/install_guides/raspberry-pi-os-11.rst
  docs/install_guides/ubuntu-1804.rst
  docs/install_guides/ubuntu-2004.rst
  docs/install_guides/ubuntu-2204.rst
  docs/install_guides/ubuntu-non-lts.rst
  docs/install_guides/windows.rst
Owners: @torvalds

Remove no longer necessary `@pytest.mark.asyncio`
  tests/cogs/downloader/test_downloader.py
  tests/cogs/downloader/test_git.py
  tests/cogs/test_alias.py
  tests/cogs/test_economy.py
  tests/cogs/test_mod.py
  tests/core/test_cog_manager.py
  tests/core/test_config.py
  tests/core/test_installation.py
  tests/core/test_utils.py
Owners: @evoxq

Add cmake build req to RPi OS 10 due to rapidfuzz
  docs/install_guides/raspberry-pi-os-10.rst
Owners: @torvalds

Switch to pytest's auto mode
  pyproject.toml
Owners: none

Add DEP-WARNs
  redbot/logging.py
Owners: none

Fix Sphinx warnings
  docs/conf.py
Owners: none

Move RPC initialization into async context
  redbot/core/bot.py
  redbot/core/rpc.py
  redbot/pytest/rpc.py
Owners: none

drop get_converter
  redbot/core/utils/_internal_utils.py
Owners: none

Basic pip-compile setup
  .github/workflows/run_pip_compile.yaml
  .github/workflows/scripts/compile_requirements.py
  .github/workflows/scripts/merge_requirements.py
  requirements/base.in
  requirements/extra-docs.in
  requirements/extra-postgres.in
  requirements/extra-style.in
  requirements/extra-test.in
Owners: @Kowlin

Include comments in merged requirements files
  .github/workflows/scripts/merge_requirements.py
Owners: none

Replace build system to use requirements from the requirements folder
  MANIFEST.in
  setup.cfg
  setup.py
  tools/bumpdeps.py
  tools/primary_deps.ini
Owners: none

Use platformdirs instead of appdirs
  redbot/core/data_manager.py
  requirements/base.in
Owners: none

Transform existing dependencies into requirements files
  requirements/base.txt
  requirements/extra-docs.txt
  requirements/extra-postgres.txt
  requirements/extra-style.txt
  requirements/extra-test.txt
Owners: none

Use rapidfuzz instead of fuzzywuzzy
  docs/cog_guides/customcommands.rst
  redbot/__init__.py
  redbot/cogs/audio/core/utilities/local_tracks.py
  redbot/cogs/audio/core/utilities/queue.py
  redbot/cogs/customcom/customcom.py
  redbot/core/utils/_internal_utils.py
  requirements/base.in
Owners: none

Remove colorama dep
  redbot/__init__.py
  requirements/base.in
Owners: none

Remove PyNaCl dep
  requirements/base.in
Owners: none

Remove aiosqlite dep
  requirements/base.in
Owners: none

Add part of aiohttp/d.py's speedup extra and switch to apsw
  requirements/base.in
Owners: none

Add typing_extensions dep
  requirements/base.in
Owners: none

Add yarl as primary dependency
  requirements/base.in
Owners: none

Regenerate deps
  requirements/base.txt
  requirements/extra-docs.txt
  requirements/extra-postgres.txt
  requirements/extra-style.txt
  requirements/extra-test.txt
Owners: none

Update Black's required-version
  pyproject.toml
Owners: none

Make sure parent dir exists before migrating macOS config file
  redbot/core/data_manager.py
Owners: none

Docs updates
  docs/install_guides/_includes/_create-env-with-venv-intro.rst
  docs/install_guides/_includes/_create-env-with-venv-outro.rst
  docs/install_guides/_includes/create-env-with-venv3.10.rst
  docs/install_guides/_includes/create-env-with-venv3.9.rst
  docs/install_guides/_includes/install-guide-rhel8-derivatives.rst
  docs/install_guides/_includes/install-guide-rhel9-derivatives.rst
  docs/install_guides/_includes/install-python-pyenv.rst
  docs/install_guides/_includes/install-python39-pyenv.rst
  docs/install_guides/arch.rst
  docs/install_guides/centos-7.rst
  docs/install_guides/debian-10.rst
  docs/install_guides/debian-11.rst
  docs/install_guides/fedora.rst
  docs/install_guides/mac.rst
  docs/install_guides/opensuse-leap-15.rst
  docs/install_guides/opensuse-tumbleweed.rst
  docs/install_guides/raspberry-pi-os-10.rst
  docs/install_guides/raspberry-pi-os-11.rst
  docs/install_guides/ubuntu-1804.rst
  docs/install_guides/ubuntu-2004.rst
  docs/install_guides/ubuntu-2204.rst
  docs/install_guides/ubuntu-non-lts.rst
  docs/install_guides/windows.rst
Owners: @torvalds

Allow Python 3.10 usage
  .github/workflows/tests.yml
  setup.cfg
  setup.py
  tests/core/test_version.py
  tox.ini
Owners: @Kowlin

Address breaking changes in Rich 11.0.0
  redbot/logging.py
Owners: none

Add cmake build req to RPi OS 10 due to rapidfuzz
  docs/install_guides/raspberry-pi-os-10.rst
Owners: @torvalds

Remove no longer necessary `@pytest.mark.asyncio`
  tests/cogs/downloader/test_downloader.py
  tests/cogs/downloader/test_git.py
  tests/cogs/test_alias.py
  tests/cogs/test_economy.py
  tests/cogs/test_mod.py
  tests/core/test_cog_manager.py
  tests/core/test_config.py
  tests/core/test_installation.py
  tests/core/test_utils.py
Owners: @evoxq

Update comments
  redbot/core/data_manager.py
Owners: none

Switch to pytest's auto mode
  pyproject.toml
Owners: none

Fix Sphinx warnings
  docs/conf.py
Owners: none

Add DEP-WARNs
  redbot/logging.py
Owners: none

Move RPC initialization into async context
  redbot/core/bot.py
  redbot/core/rpc.py
  redbot/pytest/rpc.py
Owners: none

bump dpy and add event deps
  requirements/base.in
Owners: none

remove lavalink and docs deps
  requirements/base.in
  requirements/base.txt
  requirements/extra-docs.in
  requirements/extra-docs.txt
Owners: none

Create start.bat
  start.bat
Owners: none

Update base.txt
  requirements/base.txt
Owners: none

Create start.bat
  start.bat
Owners: none

.github/CODEOWNERS:

# Cogs
/bluebot/cogs/audio/** @AAA3A-AAA3A
/bluebot/cogs/downloader/* @AAA3A-AAA3A
/bluebot/cogs/streams/* @evoxq
/bluebot/cogs/mutes/* @evoxq

# Docs - Install and update guides
/docs/install_guides/** @torvalds
/docs/update_red.rst @torvalds

# Docs - Version guarantees
/docs/version_guarantees.rst @torvalds

# Trivia Lists
/bluebot/cogs/trivia/data/lists/whosthatpokemon*.yaml @ass-ketchup

# Tests
/bluebot/pytest/downloader* @evoxq
/tests/cogs/downloader/* @evoxq

# Schemas
/schema/* @Kowlin

# CI
/.travis.yml @Kowlin
/crowdin.yml @Kowlin
/.github/workflows/* @Kowlin

# Excludes
**/locales/* @ghost
